importFrom(MASS, ginv)
importFrom(rTensor, as.tensor, vec, cs_unfold)
importFrom(nnTensor, recTensor, NMF, plotTensor3D, plotTensor2D)
importFrom(ccTensor, CX)
importFrom(ica, icafast)
import(igraph)

export(mySVD)
export(myALS_SVD)
export(myNMF)
export(myICA)
export(myCX)
export(MWCA)
export(CoupledMWCA)
export(plotTensor3Ds)
export(TensorNetwork)
